@font-face {
  font-family: "Anaheim-Regular";
  src: url('../fonts/Anaheim-Regular.ttf');
}
@font-face {
  font-family: "Roboto-Light";
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: "Roboto-Thin";
  src: url('../fonts/Roboto-Thin.ttf');
}
