//Переменные (например, цвета, гарнитуры, отступы)

@font-face {
    font-family: "Anaheim-Regular";
    src: url('../fonts/Anaheim-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Italic";
    src: url('../fonts/Roboto-Italic.ttf');
}

//Цвета
 @bg-logo: #ffffff;
 @bg-menu: #242b2e;
 @color-button-navigation-line: #25b0ae;
 @shadow-menu: #616161;
 @color-line-navigation: #000000;
 @bg-link: #31393d;
 @color-link-title: #ffffff;
 @bg-active-link: #27b3b1;
 @color-filter-items: #6b7072;
 @color-filter-item-active: #ffffff;
 @bg-filter-line: #000000;
 @bg-social-icons-line: #1e282b;
 @color-title-rights-reserved: #6b7072;
 @bg-quick-contact-info: #28b4b2;
 @border-color-logo-ellipse: #ffffff;
 @bg-information-tip: #000000;
 @color-info-title: #ffffff;
 @bg-portfolio-mask: #2db8b7;
 @color-title-mask: #ffffff;
 @bg-about-us: #ffffff;
 @color-title-who-we-are: #000000;
 @color-description-who-we-are: #a3a3a3;
 @color-title-our-staff: #000000;
 @bg-photo-staff-mask: #2db8b7;
 @color-title-photo-staff-mask: #ffffff;
 @bg-color-photo-staff-you-rectangle: #ffffff;
 @color-title-photo-staff-you: #000000;
 @color-title-our-skills: #000000;
 @color-title-our-skill: #727272;
 @border-color-graph: #ececec;
 @bg-color-graph: #ffffff;
 @color-indicator: #000000;
 @bg-color-graph-rectangle: #e2e2e2;
 @color-title-testimonials: #000000;
 @border-color-testimonials: #ececec;
 @bg-color-testimonials: #ffffff;
 @bg-color-testimonials-border-body: #1ab5b3;
 @color-testimonials-border-body-title: #ffffff;
 @color-testimonials-text: #a3a3a3;
 @color-title-services: #000000;
 @color-lists-services: #848484;
 @color-title-connect-with-us-text: #000000;
 @color-p-connect-with-us-text: #a3a3a3;
 @color-title-send-message: #000000;
 @border-color-form: #eaeaea;
 @border-color-form-logo: #eaeaea;
 @border-color-form-logo-ellipse: #1ab5b3;
 @color-input-text: #848484;
 @color-input-email: #848484;
 @color-input-url: #848484;
 @color-text-textarea: #848484;
 @bg-color-submit-button: #1ab5b3;
 @color-text-submit-button: #ffffff;

//Линии между блоками навигации
@topLineNavigation_1_small: 35px;
@topLineNavigation_2_small: ( @topLineNavigation_1_small+36px );
@topLineNavigation_3_small: ( @topLineNavigation_2_small+36px );
@topLineNavigation_4_small: ( @topLineNavigation_3_small+36px );
@topLineNavigation_5_small: ( @topLineNavigation_4_small+36px );

@topLineNavigation_1_normal: 39px;
@topLineNavigation_2_normal: ( @topLineNavigation_1_normal+40px );
@topLineNavigation_3_normal: ( @topLineNavigation_2_normal+40px );
@topLineNavigation_4_normal: ( @topLineNavigation_3_normal+40px );
@topLineNavigation_5_normal: ( @topLineNavigation_4_normal+40px );

@topLineNavigation_1_big: 62px;
@topLineNavigation_2_big:   ( @topLineNavigation_1_big+62px );
@topLineNavigation_3_big:   ( @topLineNavigation_2_big+62px );
@topLineNavigation_4_big:   ( @topLineNavigation_3_big+62px );
@topLineNavigation_5_big:   ( @topLineNavigation_4_big+62px );

//Ширина линий между блоками навигации
@widthLineNavigation_small: 250px;
@widthLineNavigation_normal: 300px;

//Расположение блоков навигации
@topLinkHome_small: 0;
@topLinkWork_small:         ( @topLinkHome_small+36px );
@topLinkAbout_small:        ( @topLinkWork_small+36px );
@topLinkBlog_small:         ( @topLinkAbout_small+36px );
@topLinkServices_small:     ( @topLinkBlog_small+36px );
@topLinkContact_small:      ( @topLinkServices_small+36px );

@topLinkHome_normal: 0;
@topLinkWork_normal:         ( @topLinkHome_normal+40px );
@topLinkAbout_normal:        ( @topLinkWork_normal+40px );
@topLinkBlog_normal:         ( @topLinkAbout_normal+40px );
@topLinkServices_normal:     ( @topLinkBlog_normal+40px );
@topLinkContact_normal:      ( @topLinkServices_normal+40px );

@topLinkHome_big: 0;
@topLinkWork_big:           ( @topLinkHome_big+62px );
@topLinkAbout_big:          ( @topLinkWork_big+62px );
@topLinkBlog_big:           ( @topLinkAbout_big+62px );
@topLinkServices_big:       ( @topLinkBlog_big+62px );
@topLinkContact_big:        ( @topLinkServices_big+62px );

//Расположение иконок социальных сетей
@rightSocialIconFlickr: 220px;
@rightSocialIconGooglePlus: ( @rightSocialIconFlickr - 30px);
@rightSocialIconTwitter:    ( @rightSocialIconGooglePlus - 30px);
@rightSocialIconPinterest:  ( @rightSocialIconTwitter - 30px);
@rightSocialIconDribble:    ( @rightSocialIconPinterest - 30px);
@rightSocialIconBehance:    ( @rightSocialIconDribble - 30px);
@rightSocialIconFacebook:   ( @rightSocialIconBehance - 30px);

//Ширина блоков навигации
@widthLink_small: 250px;
@widthLink_normal: 300px;

//Высота блоков навигации
@heightLink_small: 36px;
@heightLink_normal: 40px;
@heightLink_big: 62px;

//Ширина линии в фильтре
@widthFilterLine_small: 250px;
@widthFilterLine_normal: 300px;
