@font-face {
  font-family: "Anaheim-Regular";
  src: url('../fonts/Anaheim-Regular.ttf');
}
@font-face {
  font-family: "Roboto-Light";
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: "Roboto-Thin";
  src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: "Roboto-Italic";
  src: url('../fonts/Roboto-Italic.ttf');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.b-single-work {
  left: 0;
  margin: 0;
}
.b-single-work__background {
  height: 100%;
  background-image: url("../img/bg.png");
  background-size: cover;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .b-single-work__background {
    height: 100vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .b-single-work__background {
    height: 100vh;
  }
}
.b-menu {
  position: fixed;
  top: 0;
  z-index: 8;
  overflow: scroll;
  width: 250px;
  height: 100%;
  margin-left: -300px;
  background-color: #242b2e;
  transition: 0.25s;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-menu {
    position: fixed;
    overflow: auto;
    width: 300px;
    height: 1px;
    min-height: 100%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-menu {
    position: fixed;
    overflow: auto;
    width: 300px;
    height: 1px;
    min-height: 100%;
    margin-left: 0;
  }
}
.b-toggle-button {
  position: fixed;
  top: 60px;
  z-index: 15;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin-left: 10px;
  transition: 0.25s;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-toggle-button {
    display: none;
  }
}
@media only screen and (min-width: 1824px) {
  .b-toggle-button {
    display: none;
  }
}
.b-toggle-button .b-button-navigation {
  position: absolute;
  width: 30px;
  border-radius: 2px;
  transition: 0.5s;
}
.b-toggle-button .b-button-navigation__line-top {
  top: 0;
  border: 4px solid #25b0ae;
  border-bottom: none;
}
.b-toggle-button .b-button-navigation__line-middle {
  top: 4px;
  height: 4px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #25b0ae;
}
.b-toggle-button .b-button-navigation__line-bottom {
  top: 22px;
  border: 4px solid #25b0ae;
  border-top: none;
}
.b-button-open {
  margin-left: 278px;
}
.b-button-open .b-button-navigation__line-top {
  transition: 0.5s;
  -webkit-transform: rotate(45deg) translate(8px, 8px);
  transform: rotate(45deg) translate(8px, 8px);
}
.b-button-open .b-button-navigation__line-middle {
  opacity: 0;
  transition: 0.1s ease-in;
}
.b-button-open .b-button-navigation__line-bottom {
  transition: 0.5s;
  -webkit-transform: rotate(-45deg) translate(8px, -7px);
  transform: rotate(-45deg) translate(8px, -7px);
}
.b-menu-open {
  margin-left: 0;
  box-shadow: 15px 0 20px 0 #616161;
}
.b-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 86;
  width: 250px;
  height: 65px;
  background-color: #ffffff;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-logo {
    position: fixed;
    width: 300px;
    height: 75px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-logo {
    width: 300px;
    height: 125px;
  }
}
.b-logo__kappe {
  position: absolute;
  z-index: 88;
  margin: 13px 87px;
  color: #364048;
  font-size: 42px;
  font-family: "Anaheim-Regular";
  line-height: 0.6;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-logo__kappe {
    margin: 2px 105px;
    font-size: 53px;
    line-height: 1;
  }
}
@media only screen and (min-width: 1824px) {
  .b-logo__kappe {
    margin: 18px 98px;
    font-size: 59px;
    line-height: 1.2;
  }
}
.b-logo__forcreatives {
  position: absolute;
  z-index: 89;
  width: 76px;
  height: 16px;
  margin: 42px 109px;
  background-image: url("../img/for-creatives.png");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-logo__forcreatives {
    margin: 53px 143px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-logo__forcreatives {
    margin: 83px 145px;
  }
}
.b-logo__image-1 {
  position: relative;
  top: 19px;
  left: 51px;
  width: 20px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-logo__image-1 {
    top: 22px;
    left: 59px;
    width: 28px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-logo__image-1 {
    top: 45px;
    left: 54px;
    width: 28px;
  }
}
.b-logo__image-2 {
  position: relative;
  left: 21px;
  top: 10px;
  width: 20px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-logo__image-2 {
    top: 10px;
    left: 18px;
    width: 28px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-logo__image-2 {
    top: 32px;
    left: 13px;
    width: 28px;
  }
}
.b-logo__image-3 {
  position: relative;
  left: 10px;
  top: 10px;
  width: 20px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-logo__image-3 {
    top: 10px;
    left: 5px;
    width: 28px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-logo__image-3 {
    top: 32px;
    left: 0;
    width: 28px;
  }
}
.b-site-navigation {
  position: relative;
  top: 49px;
  height: 215px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-site-navigation {
    position: fixed;
    top: 75px;
    height: 292px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-site-navigation {
    position: fixed;
    top: 125px;
    height: 372px;
  }
}
.b-site-navigation li a.activeLink {
  background-image: url("../img/bg-hover-elements.png");
}
.b-line-navigation-1,
.b-line-navigation-2,
.b-line-navigation-3,
.b-line-navigation-4,
.b-line-navigation-5 {
  position: absolute;
  left: 0;
  height: 1px;
  background-color: #000000;
  opacity: 0.102;
}
.b-line-navigation-1_top {
  top: 35px;
  width: 250px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-line-navigation-1_top {
    top: 39px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-line-navigation-1_top {
    top: 62px;
    width: 300px;
  }
}
.b-line-navigation-2_top {
  top: 71px;
  width: 250px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-line-navigation-2_top {
    top: 79px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-line-navigation-2_top {
    top: 124px;
    width: 300px;
  }
}
.b-line-navigation-3_top {
  top: 107px;
  width: 250px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-line-navigation-3_top {
    top: 119px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-line-navigation-3_top {
    top: 186px;
    width: 300px;
  }
}
.b-line-navigation-4_top {
  top: 143px;
  width: 250px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-line-navigation-4_top {
    top: 159px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-line-navigation-4_top {
    top: 248px;
    width: 300px;
  }
}
.b-line-navigation-5_top {
  top: 179px;
  width: 250px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-line-navigation-5_top {
    top: 199px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-line-navigation-5_top {
    top: 310px;
    width: 300px;
  }
}
.b-link-home,
.b-link-work,
.b-link-about,
.b-link-blog,
.b-link-services,
.b-link-contact {
  position: absolute;
  left: 0;
  width: 250px;
  height: 36px;
  background-image: url("../img/bg-block-navigation.png");
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-home,
  .b-link-work,
  .b-link-about,
  .b-link-blog,
  .b-link-services,
  .b-link-contact {
    width: 300px;
    height: 40px;
    background-color: #31393d;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-home,
  .b-link-work,
  .b-link-about,
  .b-link-blog,
  .b-link-services,
  .b-link-contact {
    width: 300px;
    height: 62px;
    background-color: #31393d;
  }
}
.b-link-home__title p,
.b-link-work__title p,
.b-link-about__title p,
.b-link-blog__title p,
.b-link-services__title p,
.b-link-contact__title p {
  position: absolute;
  right: 40px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto-Light";
  line-height: 0;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-home__title p,
  .b-link-work__title p,
  .b-link-about__title p,
  .b-link-blog__title p,
  .b-link-services__title p,
  .b-link-contact__title p {
    line-height: 0.4;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-home__title p,
  .b-link-work__title p,
  .b-link-about__title p,
  .b-link-blog__title p,
  .b-link-services__title p,
  .b-link-contact__title p {
    line-height: 1.7;
  }
}
.b-link-home_size {
  top: 0;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-home_size {
    top: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-home_size {
    top: 0;
  }
}
.b-link-work_size {
  top: 36px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-work_size {
    top: 40px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-work_size {
    top: 62px;
  }
}
.b-link-about_size {
  top: 72px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-about_size {
    top: 80px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-about_size {
    top: 124px;
  }
}
.b-link-blog_size {
  top: 108px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-blog_size {
    top: 120px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-blog_size {
    top: 186px;
  }
}
.b-link-services_size {
  top: 144px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-services_size {
    top: 160px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-services_size {
    top: 248px;
  }
}
.b-link-contact_size {
  top: 180px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-link-contact_size {
    top: 200px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-link-contact_size {
    top: 310px;
  }
}
.b-filter {
  position: relative;
  top: 50px;
  width: 250px;
  height: 200px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-filter {
    top: 316px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-filter {
    position: fixed;
    top: 498px;
    width: 300px;
  }
}
.b-filter__title {
  position: absolute;
  top: 25px;
  right: 67px;
  color: #1ab5b3;
  font-size: 19px;
  font-family: "Roboto-Thin";
  line-height: 0;
  text-align: right;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.b-filter__icon {
  position: absolute;
  top: 17px;
  right: 40px;
  width: 17px;
  height: 15px;
  background-image: url("../img/icon-filter.png");
  background-repeat: no-repeat;
}
.b-filter__items {
  position: absolute;
  top: 35px;
  right: 40px;
  text-align: right;
  list-style: none;
}
.b-filter__items li a.activeLink {
  color: #ffffff;
}
.b-filter__items a {
  text-decoration: none;
}
.b-filter__line {
  position: absolute;
  left: 0;
  width: 250px;
  height: 1px;
  background-color: #000000;
  background-repeat: no-repeat round;
  opacity: 0.1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-filter__line {
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-filter__line {
    width: 300px;
  }
}
.b-filter-item {
  color: #6b7072;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 1.6;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.b-filter-item-active {
  color: #ffffff;
}
.b-social-icons {
  position: absolute;
  top: 470px;
  width: 250px;
  height: 50px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-social-icons {
    top: 525px;
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-social-icons {
    position: fixed;
    top: 710px;
    width: 300px;
  }
}
.b-social-icons__line {
  position: absolute;
  left: 0;
  z-index: 46;
  width: 250px;
  height: 1px;
  background-color: #1e282b;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-social-icons__line {
    width: 300px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-social-icons__line {
    width: 300px;
  }
}
.b-social-icon {
  position: absolute;
  top: 20px;
  width: 24px;
  height: 24px;
}
.b-social-icon__flickr {
  right: 220px;
  background-image: url("../img/icon-flickr.png");
  background-repeat: no-repeat;
}
.b-social-icon__googleplus {
  right: 190px;
  background-image: url("../img/icon-googleplus.png");
  background-repeat: no-repeat;
}
.b-social-icon__twitter {
  right: 160px;
  background-image: url("../img/icon-twitter.png");
  background-repeat: no-repeat;
}
.b-social-icon__pinterest {
  right: 130px;
  background-image: url("../img/icon-pinterest.png");
  background-repeat: no-repeat;
}
.b-social-icon__dribbble {
  right: 100px;
  background-image: url("../img/icon-dribbble.png");
  background-repeat: no-repeat;
}
.b-social-icon__behance {
  right: 70px;
  background-image: url("../img/icon-behance.png");
  background-repeat: no-repeat;
}
.b-social-icon__facebook {
  right: 40px;
  background-image: url("../img/icon-facebook.png");
  background-repeat: no-repeat;
}
.b-title-rights-reserved {
  position: relative;
  top: 90px;
  left: 30px;
  color: #6b7072;
  font-size: 12px;
  font-family: "Roboto-Thin";
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-title-rights-reserved {
    position: fixed;
    top: 585px;
    left: 80px;
  }
}
@media only screen and (min-width: 1824px) {
  .b-title-rights-reserved {
    position: fixed;
    top: 770px;
    left: 80px;
  }
}
.b-single-post {
  position: absolute;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-single-post {
    left: 300px;
    height: 95.7vh;
  }
}
@media only screen and (min-width: 1824px) {
  .b-single-post {
    left: 300px;
    height: 96.4vh;
  }
}
.b-single-post__background {
  z-index: 3;
  margin: 3%;
  background-color: #ffffff;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-single-post__background {
    margin: 1%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-single-post__background {
    margin: 1%;
  }
}
.b-single-post__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-content {
    height: 100%;
    padding: 4%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-content {
    height: 100%;
    padding: 4%;
  }
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-sidebar-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-sidebar-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
}
.b-post {
  width: 100%;
}
.b-post__title {
  z-index: 62;
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-family: "Roboto-Light";
  line-height: 1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-post__title {
    margin: 2% 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-post__title {
    margin-left: 0;
  }
}
.b-post__description {
  z-index: 61;
  margin: 0 15px;
  color: #a3a3a3;
  font-size: 18px;
  font-family: "Roboto-Light";
  line-height: 1.6;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-post__description {
    width: 100%;
    margin: 0;
    font-size: 1.9vmin;
  }
}
@media only screen and (min-width: 1824px) {
  .b-post__description {
    margin: 0;
  }
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-post__description p {
    margin: 2% 0;
  }
}
.b-post__main-image {
  width: 100%;
}
.b-post__main-image img {
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-post__main-image img {
    height: 36vh;
  }
}
@media only screen and (min-width: 1824px) {
  .b-post__main-image img {
    height: 36vh;
  }
}
.b-horizontal-line {
  z-index: 6;
  height: 1px;
  margin: 0 15px;
  background-image: url("../img/horizontal-line-post.png");
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-horizontal-line {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-horizontal-line {
    width: 100%;
    margin: 0;
  }
}
.b-related-projects {
  width: 100%;
}
.b-related-projects__title {
  z-index: 42;
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-family: "Roboto-Light";
  line-height: 1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-related-projects__title {
    margin: 2% 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-related-projects__title {
    margin-left: 0;
  }
}
.b-related-projects__photos {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.b-related-projects-photo {
  width: 31%;
  height: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-vertical-line {
    position: relative;
    z-index: 5;
    width: 1px;
    height: 100%;
    margin-top: 2%;
    background-image: url("../img/vertical-line-post.png");
  }
}
@media only screen and (min-width: 1824px) {
  .b-vertical-line {
    position: relative;
    z-index: 5;
    width: 1px;
    height: 100%;
    margin-top: 2%;
    background-image: url("../img/vertical-line-post.png");
  }
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-sidebar-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-sidebar-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
}
.b-project-info {
  position: relative;
  width: 100%;
}
.b-project-info__title {
  z-index: 42;
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-family: "Roboto-Light";
  line-height: 1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info__title {
    margin: 0 0 2% 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-info__title {
    margin: 0;
  }
}
.b-project-info-profile {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-profile {
    height: 25px;
  }
}
.b-project-info-profile__title {
  z-index: 42;
  margin-left: 60px;
  color: #848484;
  font-size: 14px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-profile__title {
    margin-left: 40px;
    line-height: 1;
  }
}
.b-project-info-profile-logo-icon {
  position: absolute;
  left: 15px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-profile-logo-icon {
    top: -8px;
    left: 0;
    width: 6%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-info-profile-logo-icon {
    top: 0;
    left: 0;
  }
}
.b-project-info-like {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-like {
    height: 25px;
  }
}
.b-project-info-like__title {
  z-index: 42;
  margin-left: 60px;
  color: #848484;
  font-size: 14px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-like__title {
    margin-left: 40px;
    line-height: 1;
  }
}
.b-project-info-like-logo-icon {
  position: absolute;
  left: 15px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-like-logo-icon {
    top: -8px;
    left: 0;
    width: 6%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-info-like-logo-icon {
    top: 0;
    left: 0;
  }
}
.b-project-info-date {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-date {
    height: 25px;
  }
}
.b-project-info-date__title {
  z-index: 42;
  margin-left: 60px;
  color: #848484;
  font-size: 14px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-date__title {
    margin-left: 40px;
    line-height: 1;
  }
}
.b-project-info-date-logo-icon {
  position: absolute;
  left: 15px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-date-logo-icon {
    top: -8px;
    left: 0;
    width: 6%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-info-date-logo-icon {
    top: 0;
    left: 0;
  }
}
.b-project-info-comment {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-comment {
    height: 25px;
  }
}
.b-project-info-comment__title {
  z-index: 42;
  margin-left: 60px;
  color: #848484;
  font-size: 14px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-comment__title {
    margin-left: 40px;
    line-height: 1;
  }
}
.b-project-info-comment-logo-icon {
  position: absolute;
  left: 15px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-info-comment-logo-icon {
    top: -8px;
    left: 0;
    width: 6%;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-info-comment-logo-icon {
    top: 0;
    left: 0;
  }
}
.b-horizontal-line-project-info {
  z-index: 6;
  height: 1px;
  margin: 0 15px;
  background-image: url("../img/horizontal-line-project-info.png");
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-horizontal-line-project-info {
    margin: 0 0 1% 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-horizontal-line-project-info {
    margin: 0;
  }
}
.b-tags {
  position: relative;
  width: 100%;
}
.b-tags__title {
  z-index: 42;
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-family: "Roboto-Light";
  line-height: 1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tags__title {
    margin: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-tags__title {
    margin-left: 0;
  }
}
.b-tags-items {
  display: inline-flex;
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: start;
  width: 90%;
  margin: 0 15px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tags-items {
    width: 100%;
    margin: 2% 0 0 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-tags-items {
    width: 100%;
    margin-left: 0;
  }
}
.b-tag-web-design {
  position: relative;
  margin: 0 2% 2% 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 11px;
}
.b-tag-web-design p {
  margin: 10px;
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tag-web-design p {
    margin: 5px;
    font-size: 10px;
    line-height: 3;
  }
}
.b-tag-photography {
  position: relative;
  margin: 0 2% 2% 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 11px;
}
.b-tag-photography p {
  margin: 10px;
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tag-photography p {
    margin: 5px;
    font-size: 10px;
    line-height: 3;
  }
}
.b-tag-development {
  position: relative;
  margin: 0 2% 2% 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 11px;
}
.b-tag-development p {
  margin: 10px;
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tag-development p {
    margin: 5px;
    font-size: 10px;
    line-height: 3;
  }
}
.b-tag-php {
  position: relative;
  margin: 0 2% 2% 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 11px;
}
.b-tag-php p {
  margin: 10px;
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tag-php p {
    margin: 5px;
    font-size: 10px;
    line-height: 3;
  }
}
.b-tag-ecommerce {
  position: relative;
  margin: 0 2% 2% 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 11px;
}
.b-tag-ecommerce p {
  margin: 10px;
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tag-ecommerce p {
    margin: 5px;
    font-size: 10px;
    line-height: 3;
  }
}
.b-tag-graphic {
  position: relative;
  margin: 0 2% 2% 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 11px;
}
.b-tag-graphic p {
  margin: 10px;
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Roboto-Light";
  line-height: 2;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-tag-graphic p {
    margin: 5px;
    font-size: 10px;
    line-height: 3;
  }
}
.b-project-gallery {
  position: relative;
  width: 100%;
}
.b-project-gallery__title {
  z-index: 42;
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-family: "Roboto-Light";
  line-height: 1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-gallery__title {
    margin: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-gallery__title {
    margin-left: 0;
  }
}
.b-project-gallery-photos {
  display: inline-flex;
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 15px;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-gallery-photos {
    margin: 1% 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-gallery-photos {
    margin: 0;
  }
}
.b-project-gallery-photo {
  margin: 0 3% 3% 0;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-gallery-photo {
    width: 12%;
    height: 5%;
    margin: 0 1% 1% 0;
  }
}
.b-project-features {
  position: relative;
  width: 100%;
  margin-bottom: 7%;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-features {
    margin: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-features {
    margin: 0;
  }
}
.b-project-features__title {
  z-index: 42;
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-family: "Roboto-Light";
  line-height: 1;
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-features__title {
    margin: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-features__title {
    margin-left: 0;
  }
}
.b-project-feature {
  position: relative;
  margin-left: 15px;
  color: #848484;
  line-height: 1;
  list-style: url("../img/check-project-features.png");
}
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  .b-project-feature {
    margin: 0;
  }
}
@media only screen and (min-width: 1824px) {
  .b-project-feature {
    margin-left: 0;
  }
}
